Models/
datasets
#ignore every directions
**/directions/

# Ignore checkpoints
checkpoints/
checkpoint/
*.ckpt
*.bin
*.pt
*.pth
*.safetensors

# Ignore outputs
outputs/
results/
logs/
runs/
wandb/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
